<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Volunteer Sign-up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <a href="/" class="logo">Volunteer Sign-up</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/profile">
            <img id="header_pfp"
              alt="Profile"
              src="/img/default_pfp.svg"
              width="30">
          </a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <section class="hero">
        <h1>Discover unique volunteer opportunities created by members of your community!</h1>
    </section>
    <div class="filter-bar">
      <p>Find an opportunity!</p>
      <div>
        <button id="button-sort">Sort Results</button>
        <button id="button-filter">Filter Results</button>
        <label for="input-zip">Zip Code:</label>
        <input id="input-zip" name="input-zip" type="text">
      </div>
    </div>
    <div class="opportunities">
      <ol>
        <!--Opportunity entry 1-->
        <li>
          <table>
            <tr>
              <td rowspan="4">
                <img class="td-image"
                  alt="Opportunity Picture"
                  src="/img/zybooks-cat.jpg">
              </td>
              <td class="td-title" colspan="3">Undefined Opportunity Title 1</td>
              <td class="td-date">10/18/2025</td>
            </tr>
            <tr>
              <td colspan="3" rowspan="2" class="td-description">Undefined Opportunity Description</td>
              <td rowspan="2" class="td-time">1:00PM-3:00PM</td>
            </tr>
            <tr></tr>
            <tr>
              <td colspan="3" class="td-organizers">Undefined Opportunity Organizer(s)</td>
              <td class="td-zip">Zip Code: 12345</td>
            </tr>
          </table>
        </li>
        <!--Opportunity entry 2-->
        <li>
          <table>
            <tr>
              <td rowspan="4">
                <img class="td-image"
                  alt="Opportunity Picture"
                  src="/img/zybooks-cat.jpg">
              </td>
              <td class="td-title" colspan="3">Undefined Opportunity Title 2</td>
              <td class="td-date">10/18/2025</td>
            </tr>
            <tr>
              <td colspan="3" rowspan="2" class="td-description">Undefined Opportunity Description</td>
              <td rowspan="2" class="td-time">1:00PM-3:00PM</td>
            </tr>
            <tr></tr>
            <tr>
              <td colspan="3" class="td-organizers">Undefined Opportunity Organizer(s)</td>
              <td class="td-zip">Zip Code: 12345</td>
            </tr>
          </table>
        </li>
      </ol>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 Volunteer Sign-up. All rights reserved.</p>
    </div>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>
