<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Volunteer Sign-up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% if (typeof error !== 'undefined') { %>
    <div data-error id="<%= error %>"></div>
  <% } %>

  <header>
    <nav>
      <div class="container">
        <a href="/" class="logo">Volunteer Sign-up</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <section class="hero">
        <h1>Log into your account!</h1>
    </section>
    <div class="user-form">
      <form method="POST" data-validate>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        <p>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required>
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required>
        </p>
        <input type="submit">
      </form>
      <a href="/register">Create Account</a>
    </div>
  </main>

  <footer>
    <nav>
      <div class="container">
        <p>&copy; 2025 Volunteer Sign-up. All rights reserved.</p>
        <ul class="nav-links">
          <li><a href="/statistics">Volunteer Statistics</a></li>
        </ul>
      </div>
    </nav>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>
